
/* FONTS  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    border: 0;
    margin: 0;
    padding: 0;
}



/* ESTILOS DO HEADER  */
header{
    width: 100%;
    height: 100vh;

    display: flex;
}
header section{
    width: 50%;
    height: 100%;
}



/* header direita  */
header .direita{
    background-image: url(../img/mulherPrincipal.png);
    background-size: cover;
}
header .direita nav{
    width: 100%;
    height: 70px;
    margin-top: 20px;
    background-color: #34451e;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
header .direita nav a{
    color: #fff;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 0.9rem;
    z-index: 3; 
}
header .direita nav #bAgenda{
    border-radius: 100px;
    border: #fff solid 1px;
    padding: 10px 40px 10px 40px;
}

/* header esquerda  */
header .esquerda{
    background-color: #d8b192;
}
header .esquerda img{
    background-color: #fff;
    width: 100%;
}



/* div centro header  */

header div{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: end;
    justify-content: center;

    position: absolute;
    z-index: 2;
}
header div img{
    width: 320px;
    margin-bottom: 80px;

    filter: drop-shadow(5px 0 10px black);
}



/* ESTILOS DA MAIN  */

main{
    width: 100%;
    height: auto;
}



/* AGENDAMENTO  */
main form{
    width: 100%;
    height: 150px;

    display: flex;
    justify-content: space-around;
    align-items: center ;
}
main form div{
    display: flex;
    flex-direction: column;

}
main form div label{
    color: #d8b192;
    font-family: "Inter", sans-serif;

    display: flex;
    align-items: center;

    border: 1px solid #fff;
}
main form div label svg{
    margin-right: 6px;
}
main form div select, main form div input{
    background-color: #fff;
    border: 1px solid #fff;
    border-bottom: 1px solid #d8b192;

    font-family: "Inter", sans-serif;

    padding-top: 5px;
    padding-bottom: 5px;

    outline: none;
}
main form button{
    color: #fff;
    background-color: #d8b192;
    border-radius: 30px;

    width: 200px;
    height: 30px;
}
main form button:hover{
    background-color: rgb(170, 130, 98);
    transition: all 1s;
}




/* PROCEDIMENTOS  */
main .nail{
    width: 100%;

    display: flex;
    justify-content: space-around ;
    align-items: center;

    margin-top: 50px;
    margin-bottom: 50px;
}
main .nail div {
    width: 20%;
    text-align: center;

    color: #767676;
    font-family: "Montserrat", sans-serif;
}
main .nail div H3{
    margin-top: 15px;
    margin-bottom: 15px;
}



/* CARREIRA */
main .carreira{
    width: 100%;
    display: flex;
    align-items: center;
}
main .carreira img{
    width: 50%;
}
main .carreira div h2{
    color: #D8B192;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 2rem;

    margin-bottom: 30px;
}
main .carreira div h4, main .carreira div li, main .carreira div p{
    font-family: "Montserrat", sans-serif;
    color: #767676;
    font-size: 0.9rem;
}
main .carreira div h4{
    margin-bottom: 5px;
    margin-top: 5px;
}
main .carreira div li{
    margin-left: 30px;
    margin-bottom: 2px;
}



/* ESMALTES */
main .esmaltes{
    width: 100%;
    background-color: #d8b192;

    margin-top: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main .esmaltes .cores{
    width: 75%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
main .esmaltes .cores div{
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .esmaltes h2{
    width: 35%;

    color: #fff;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    
    margin-top: 50px;
    margin-bottom: 50px;
}
main .esmaltes .cores div img{
    margin-top: 20px;
    width: 100%;

    filter: drop-shadow(-20px 10px 10px #b7967c);
}
main .esmaltes .cores div h4{
    width: 100%;
    text-align: center;

    color: #fff;
    font-family: "Montserrat", sans-serif;

    margin-top: 20px;
    margin-bottom: 50px;
}



/* TABELA DE PREÇOS  */
main .tabela{
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
}
main .tabela .precos{
    display: flex;
    justify-content: center;
}
main .tabela .imagem, main .tabela .precos{
    width: 50%;
}
main .tabela .precos .meioprecos{
    width: 66%;
}
main .tabela .meioprecos h2{
    font-family: "Montserrat", sans-serif;
    color: #D8B192;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;

    margin-bottom: 20px;
}
main .tabela .meioprecos .titulopreco{
    display: flex;
    justify-content: space-between;

    font-size: 1.2rem;
    color: #767676;
    font-family: "Montserrat", sans-serif;

    margin-bottom: 10px;
    margin-top: 10px;
}
main .tabela .precos .meioprecos button{
    width: 100px;
    height: 35px;

    background-color: #D8B192;
    margin-top: 20px;

    color: #fff;
    background-color: #d8b192;
    border-radius: 30px;
}
main .tabela .meioprecos p{
    color: #767676;
    font-family: "Montserrat", sans-serif;

    line-height: 28px;
}
main .tabela .imagemAbs{
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: end;
}
main .tabela .imagemAbs img{
    width: 60%;
}

/* NOSSOS PRODUTOS */
.produtos{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-image: url(../img/fundogrid.png);
    background-size: contain;

    margin-bottom: 100px;
}
.produtos h2{
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    color: #D8B192;
    text-transform: uppercase;
    font-weight: 500;

    margin-bottom: 40px;
}
.produtosgrid {
    width: 80%;
    height: 615px;

    display: grid; 
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    gap: 50px;    
 }
 #item-0, #item-1, #item-2, #item-3, #item-4, #item-5{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .produtosgrid h2{
    width: 60%;

    text-align: center;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    text-transform: uppercase;
 }
 #item-0 {
 
    background-image: url(../img/grid1.png);
    background-size: cover;

    grid-row-start: 1;
    grid-column-start: 1;
 
    grid-row-end: 3;
    grid-column-end: 3;
    
 }
 #item-1 {
 
    background-image: url(../img/grid2.png);
    background-size: cover; 

    grid-row-start: 1;
    grid-column-start: 3;
 
    grid-row-end: 2;
    grid-column-end: 4;
    
 }
 #item-2 {
 
    background-image: url(../img/grid5.png);
    background-size: cover;

    grid-row-start: 2;
    grid-column-start: 3;
 
    grid-row-end: 3;
    grid-column-end: 4;
    
 }
 #item-3 {
 
    background-image: url(../img/grid3.png);
    background-size: cover;

    grid-row-start: 1;
    grid-column-start: 4;
 
    grid-row-end: 2;
    grid-column-end: 5;
    
 }
 #item-4 {
 
    background-image: url(../img/grid4.png);
    background-size: cover;

    grid-row-start: 2;
    grid-column-start: 4;
 
    grid-row-end: 3;
    grid-column-end: 5;
    
 }

 /* Noticiais */
 .noticia{
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}
.noticia h2{
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    color: #D8B192;
    text-transform: uppercase;
    font-weight: 500;

    margin-bottom: 40px;
}
.noticiaGlobal{
    width: 100%;
    height: auto;

    display: flex;
    align-items: start;
    justify-content: space-evenly;

}
.not {
    width: 30%;
    height: auto;

    display: flex;

    flex-direction: column;
}
.not h3{
    font-size: 1.5rem;
    color: #767676;
    font-family: "Montserrat", sans-serif;

    margin-bottom: 20px;
    margin-top: 20px;
}
.not p{
    color: #767676;
    font-family: "Montserrat", sans-serif;

    line-height: 20px;
}
.not img{
    width: 100%;
}

/* Siga-me */
.siga{
    width: 100%;
    height: 600px;

    display: flex;
    justify-content: center;
    align-items: center;


    background-image: url(../img/fundo.png);
    background-size: contain;
    margin-top: 150px;
}
