
/* FONTS  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    border: 0;
    margin: 0;
    padding: 0;
}



/* ESTILOS DO HEADER  */
header{
    width: 100%;
    height: 100vh;

    display: flex;
}
header section{
    width: 50%;
    height: 100%;
}



/* header direita  */
header .direita{
    background-image: url(../img/mulherPrincipal.png);
    background-size: cover;
}
header .direita nav{
    width: 90%;
    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
header .direita nav a{
    color: #fff;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 1.1rem;
}
header .direita nav #bAgenda{
    border-radius: 100px;
    border: #fff solid 1px;
    padding: 6px;
}

/* header esquerda  */
header .esquerda{
    background-color: #d8b192;
}
header .esquerda img{
    background-color: #fff;
    width: 100%;
}



/* div centro header  */

header div{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: end;
    justify-content: center;

    position: absolute;
    z-index: 2;
}
header div img{
    width: 320px;
    margin-bottom: 80px;

    filter: drop-shadow(5px 0 10px black);
}



/* ESTILOS DA MAIN  */

main{
    width: 100%;
    height: auto;
}



/* AGENDAMENTO  */
main form{
    width: 100%;
    height: 150px;

    display: flex;
    justify-content: space-around;
    align-items: center ;
}
main form div{
    display: flex;
    flex-direction: column;

}
main form div label{
    color: #d8b192;
    font-family: "Inter", sans-serif;

    display: flex;
    align-items: center;

    border: 1px solid #fff;
}
main form div label svg{
    margin-right: 6px;
}
main form div select, main form div input{
    background-color: #fff;
    border: 1px solid #fff;
    border-bottom: 1px solid #d8b192;

    font-family: "Inter", sans-serif;

    padding-top: 5px;
    padding-bottom: 5px;

    outline: none;
}
main form button{
    color: #fff;
    background-color: #d8b192;
    border-radius: 30px;

    width: 200px;
    height: 30px;
}
main form button:hover{
    background-color: rgb(170, 130, 98);
    transition: all 1s;
}




/* PROCEDIMENTOS  */
main .nail{
    width: 100%;

    display: flex;
    justify-content: space-around ;
    align-items: center;

    margin-top: 50px;
    margin-bottom: 50px;
}
main .nail div {
    width: 20%;
    text-align: center;

    color: #767676;
    font-family: "Montserrat", sans-serif;
}
main .nail div H3{
    margin-top: 15px;
    margin-bottom: 15px;
}



/* CARREIRA */
main .carreira{
    width: 100%;
    display: flex;
    align-items: center;
}
main .carreira img{
    width: 50%;
}
main .carreira div h2{
    color: #D8B192;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 2rem;

    margin-bottom: 30px;
}
main .carreira div h4, main .carreira div li, main .carreira div p{
    font-family: "Montserrat", sans-serif;
    color: #767676;
    font-size: 0.9rem;
}
main .carreira div h4{
    margin-bottom: 5px;
    margin-top: 5px;
}
main .carreira div li{
    margin-left: 30px;
    margin-bottom: 2px;
}